
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign-Up Page</title>
  <link rel="stylesheet" href="css/signup.css" />
  <link
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet"
  />
  <!-- Link ke Google Fonts Poppins -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="left">
    <h1>SmartSalary</h1>
    <h2>Estimasi Gaji Anda, Untuk Pilihan Karier yang Lebih Cerdas</h2>
    <div class="partners">
      <img src="partner1.png" alt="Partner 1" />
      <img src="partner2.png" alt="Partner 2" />
      <img src="partner3.png" alt="Partner 3" />
    </div>
    <p>© 2024 Yessy Arye. All Rights Reserved.</p>
  </div>
  <div class="right">
    <div class="form-container">
      <h2>Daftar</h2>
      <p>Sudah punya akun? <a href="/login">Masuk di sini</a></p>

      <!-- Flash Message Section -->
      <div class="alert alert-success" style="display: none;">
        <p>Message</p>
      </div>
      <div class="alert alert-danger" style="display: none;">
        <p>Error</p>
      </div>

      <!-- Form Signup -->
      <form id="signup-form" action="/signup" method="POST">
        <input type="email" name="email" id="email" placeholder="Email" required />
        <span id="email-error" style="color: red; display: none;">Email sudah terdaftar</span>
        <input type="text" name="firstname" placeholder="Nama Depan" required />
        <input type="text" name="lastname" placeholder="Nama Belakang" required />
        <div class="password-container">
          <input
                  type="password" name="password" placeholder="Kata sandi" id="password" required />
          <i class="fa-solid fa-eye toggle-icon" id="eyeicon1"></i>
        </div>
        <div class="password-container">
          <input
                  type="password" placeholder="Konfirmasi Kata Sandi" id="confirm-password" required />
          <i class="fa-solid fa-eye toggle-icon" id="eyeicon2"></i>
        </div>
        <span id="password-warning" style="color: red; display: none;">Password dan konfirmasi password tidak sama.</span>
        <button type="submit">Daftar</button>
      </form>
    </div>
  </div>
</div>
<script src="js/script.js">
</script>
</body>
</html>
